<mat-toolbar class="appbar-container">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo-container" fxFlex fxLayout fxLayoutAlign.xs="center">
    <img src="assets/images/marvel-logo.png" alt="Marvel logo" class="logo">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGab="15px" class="navigation-items">
      <li class="menu-list">
        <a class="menu-item" routerLink="/characters/0">Personagens</a>
        <a class="menu-item" routerLink="/stories/0">Histórias</a>
        <a class="menu-item" routerLink="/events/0">Eventos</a>
        <a class="menu-item" routerLink="/series/0">Séries</a>
        <a class="menu-item" routerLink="/creators/0">Criadores</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
