mat-sidenav-container, mat-sidenav-content, mat-sidenav, mat-drawer-content, mat-drawer {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-drawer-container {
  height: calc(100% - var(--appbar-height));
}

mat-drawer {
  background-color: var(--dark-gray);
  border-top: 1px solid var(--gray);
}

main {
  padding: 10px;
}
