
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <side-bar (sidenavClose)="sidenav.close()"></side-bar>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-bar (sidenavToggle)="sidenav.toggle()"></app-bar>

    <mat-drawer-container>
      <mat-drawer mode="side" opened>
        <searching-bar></searching-bar>
      </mat-drawer>

      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>

  </mat-sidenav-content>
</mat-sidenav-container>
