<div class="page-container">

  <div class="no-character" *ngIf="characterId === 0">
    <h1>Personagens</h1>
    <span>Selecione o personagem ao lado</span>
  </div>

  <div class="flex-container" *ngIf="characterId !== 0">
    <div class="character-container marvel-border">
      <h1>{{character.name}}</h1>
      <div *ngIf="character.thumbnail.path.length > 0" class="image-container">
        <img [src]="thumbnailPathTransformer(character.thumbnail)" [alt]="character.name">
      </div>

      <div class="w-100">

        <div class="url-container" *ngFor="let url of character.urls">
          <mat-icon class="searchIcon">{{getUrlIcon(url.type)}}</mat-icon>
          <a [href]="url.url">{{url.type}}</a>
        </div>
      </div>
    </div>

    <div>
      <div class="description-container marvel-border">
        <h3>Descrição do personagem</h3>
        <p>{{character.description || 'Este personagem não possui descrição'}}</p>
      </div>
    </div>

  </div>
</div>
