.page-container {
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.character-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  padding: 16px 24px;

  h1 {
    margin: 0 0 16px;
  }

  .image-container {
    margin-bottom: 12px;
  }
}

.description-container {
  padding: 12px;
  margin-left: 32px;
  margin-bottom: 16px;

  height: fit-content;
}

.url-container {
  display: flex;
  margin-top: 8px;
  cursor: pointer;

  &:hover {
    mat-icon {
      color: var(--off-white);
    }

    a {
      text-decoration: underline;
      color: var(--off-white);
    }
  }

  mat-icon {
    color: var(--white);
    margin-right: 8px;
  }

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--white);
  }
}

@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .description-container {
    margin-left: 0px;
    margin-top: 32px;
  }
}
